!!!
html
  head
    title JS AES Performance

    link(rel='stylesheet', href='style.css')

    script(type='text/javascript', src='lib/jquery-1.7.min.js')
    
    script(type='text/javascript', src='lib/jquery.ba-jqmq.js')
    
    script(type='text/javascript', src='lib/forge.util.js')
    
    script(type='text/javascript', src='lib/forge.md5.js')
    
    script(type='text/javascript', src='lib/forge.sha1.js')
    
    script(type='text/javascript', src='lib/forge.prng.js')
    
    script(type='text/javascript', src='lib/forge.aes.js')
    
    script(type='text/javascript', src='lib/forge.random.js')
    
    script(type="text/javascript", src='lib/Iuppiter.js')

    script(type='text/javascript', src='perf_async.comp.only.js')
    
  
  div#stage
  
    div#playingField.field.centercontents
      div#playingText
        h2 Drop a file to LZJB compress it
      
      div#fileDetails

      div#benchResults
      
      div#error
        
        
    
    
