!!!
html
  head
    title JS AES Performance
  
  link(rel='stylesheet', href='style.css')
  
  script(type="text/javascript", src='lib/jquery-1.7.min.js')
  script(type="text/javascript", src='lib/sjcl.js')
  script(type="text/javascript", src='lib/benchmark.js')
  script(type='text/javascript', src='perf.js')
  
  
  div#stage
  
    div#playingField.field.centercontents
      div#playingText
        h2 Drop a file to AES crypt it
      
      div#fileDetails
        
            
      div#benchResults
      
      div#error
        
        
